<header class="header">
  <h1>All To-do Lists</h1>
</header>

<section>
  <ul class="todoapp">
    <% @todolists.each do |todolist| %>
      <li><%= link_to todolist.name, todolist %></li>
    <% end %>
  </ul>
</section>