<header class="header">
  <h1><%= @todolist.name %></h1>
</header>

<section class="todoapp">
  <form id="new-form">
      <input type="text" class="new-todo" placeholder="What needs to be done?" />
  </form>
  <section class="main">
    <ul class="root-list todo-list" data-base-url="/todolists/<%= @todolist.id %>/tasks/">
    </ul>
  </section>
</section>

<section class="authentication">
  <%= link_to 'Delete this list', todolist_path(@todolist), method: :delete, data: { confirm: 'Are you sure?' } %>
</section>

<%= javascript_include_tag 'tasks' %>